<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}

            {% endblock %}
            | Jeronimo Mayorca
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <h1> Navbar </h1>
        <ul>
            <li> <a href="/index"> Index </a> </li>
            <li> <a href="/contact"> Contact </a> </li>
            <li> <a href="/about-me"> About Me </a> </li>
        </ul>

        <div id="contact">
            {% block content %}
            <h1>content of father block</h1>
            <!--here goes the block content of each component-->
            {% endblock %}
        </div>

        <footer>
            Aprendiendo Django &copy; Jeronimo Mayorca
        </footer>
    </body>
</html>