<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} {% endblock %}
            | Jeronimo Mayorca
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css"
            href="{% static 'myapp/css/styles.css' %}">
    </head>
    <body>

        <header>
            <div class="logo">
                <img src="{% static 'myapp/images/logo.png' %}" alt>
                <h1>
                    Sitio Web con Django
                </h1>
            </div>
        </header>

        <nav>
            <ul>
                <li> <a href="{% url 'index' %}"> Home </a> </li>
                <li> <a href="{% url 'contact' %}"> Contact </a> </li>
                <li> <a href="{% url 'about-me' %}"> About Me </a> </li>
                <li> <a href="{% url 'say-hi' %}"> Say Hi </a> </li>
                <li> <a href="{% url 'list-motorcycle' %}"> Motorcycles </a> </li>
                <li> <a href="{% url 'list-article' %}"> Articles </a> </li>
            </ul>
        </nav>

        <div class="bar">
            <span class="left-corner"></span>
            <span class="bar-refill"></span>
            <span class="right-corner"></span>
        </div>

        <div id="content">

            <div class="box">

                {% block content %}
                <!--here goes the block content of each component-->
                <h1>content of father block</h1>
                {% endblock %}

            </div>

        </div>

        <footer>
            Learning Django &copy; Jeronimo Mayorca | {% include 'date.html' %}
        </footer>
    </body>
</html>