/* general styles */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body{
    background-color: #F2F2F2;
}

.box p, .box ul, .box li{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 1rem;
}

.foot p{
    margin-top: 7px;
    margin-bottom: 7px;
}


/*header styles*/
header{
    width: 1212px;
    height: 140px;
    background-color: #23282B;
    margin: 0 auto;
}

.logo h1{
    display: block;
    float: left;
    margin-top: 47px;
    margin-left: 41px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #2ba977;
}

.logo {
    width: 50%;
    height: 140px;
    margin: 0 auto;
}

.logo img{
    display: block;
    width: 60px;
    float: left;
    width: 80px;
    margin-top: 20px;
}

/* navbar style */

nav{
    width: 1250px;
    height: 70px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 4.375rem;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #D1D4D6;
}

nav ul li a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 5px #444444 inset;
    color: white;
    transition: 300ms;
}


.bar{
    width: 1250px;
    margin: 0 auto;
}

.left-corner{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.right-corner{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.bar-refill{
    display: block;
    width: 1210px;
    height: 10px;
    background: #2b2f30;
    float: left;
}

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.box{
    background: white;
    width: 95%;
    min-height: 935px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
}


.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
}

footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #D1D4D6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
}